$surface-1: #0c0d10;
$surface-2: #0e1316;
$surface-3: #12181d;
$surface-4: #191a1e;
$surface-5: #1b232a;

$accent-1: #df5b61;
$accent-2: #e9967e;
$accent-3: #de8f78;
$accent-4: #78b892;
$accent-5: #6791c9;
$accent-6: #67afc1;
$accent-7: #7ea2d1;
$accent-8: #bc83e3;

$primary-accent: $accent-5;
$secondary-accent: $accent-6;

$foreground-color: #c2cae2;

$highlight: rgba(255, 255, 255, 0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
